[submodule "packages/foundry/lib/forge-std"]
	path = packages/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/foundry/lib/openzeppelin-contracts"]
	path = packages/foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "packages/foundry/lib/solidity-bytes-utils"]
	path = packages/foundry/lib/solidity-bytes-utils
	url = https://github.com/gnsps/solidity-bytes-utils
[submodule "packages/foundry/lib/v4-core"]
	path = packages/foundry/lib/v4-core
	url = https://github.com/uniswap/v4-core
[submodule "packages/foundry/lib/solmate"]
	path = packages/foundry/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "packages/foundry/lib/BokkyPooBahsDateTimeLibrary"]
	path = packages/foundry/lib/BokkyPooBahsDateTimeLibrary
	url = https://github.com/bokkypoobah/BokkyPooBahsDateTimeLibrary
